extends ../layout

block content
  .container.hero
    .sam
      a(href="")
        img(src="/static/images/unkle.png", alt="")
        span
          | if you want to become a model, click here
    .social
      a(href="")
        i.fa.fa-facebook
        |facebook
      a(href="")
        i.fa.fa-twitter
        |twitter
      a(href="")
        i.fa.fa-instagram
        |instagram
    .row
      .col-md-12.hero-text-box
        .hero-text
        .slider
          each slide in slides
            div
              img(src=slide.path, alt="")
  .container.title-and-text
    .row
      .col-md-offset-2.col-md-3
        h1 MDLS teem
      .col-md-6
        p Keytar Vice Thundercats, actually disrupt squid gluten-free YOLO you probably haven't heard of them normcore meh. Cold-pressed mixtape Brooklyn, whatever occupy chambray quinoa flexitarian before they sold out flannel meh Carles wayfarers. +1 fanny pack Carles,

  .container-fluid.categories
    .row#gallery
      .col-md-2.title-category#gallery-header
        #gallery-header-center
          h3 categories

          #gallery-header-center-right
            #filter-all.gallery-links All
            each category in categories
              .gallery-links(data-filter=category.category_id)= category.name
      .col-md-10.gallery-content#gallery-content
        ul.content-gird#gallery-content-center
          each girl in girls
            - var classes = girls_helpers.get_categories(girl)
            li.girl.all(class=classes)
              img(src=girls_helpers.get_main_photo(girl))
            if girl.files && girl.files.length > 0
              dl.ggallery
                each file in girl.files
                  dt(data-src=file.path, data-sub-html='<h3>My caption</h3><p>My description..</p>')
